<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication">
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.rubypeople.rdt.debug.ui.rubySourceLocator"/>
<stringAttribute key="org.rubypeople.rdt.launching.FILE_NAME" value="try.rb"/>
<stringAttribute key="org.rubypeople.rdt.launching.PROJECT_NAME" value="HelloRuby"/>
<stringAttribute key="org.rubypeople.rdt.launching.VM_INSTALL_NAME" value="usr"/>
<stringAttribute key="org.rubypeople.rdt.launching.VM_INSTALL_TYPE_ID" value="org.rubypeople.rdt.launching.StandardVMType"/>
<stringAttribute key="org.rubypeople.rdt.launching.WORKING_DIRECTORY" value="/home/reallocing/Git/MyCodeSpace/EnhanceJava/HelloRuby"/>
</launchConfiguration>
